# -------------------------
#  File-Based Databases
# -------------------------

# --- DuckDB ---
DUCKDB_DB_PATH=data/duckdb/db/db_workbench.duckdb


# --- SQLite ---
SQLITE_DB_PATH=data/sqlite/db/db_workbench.db


# -------------------------
#  SQL Databases
# -------------------------

# --- MariaDB ---
MARIADB_HOST=mariadb
MARIADB_PORT=3307
MARIADB_ROOT_PASSWORD=rootpass
MARIADB_DB=db_workbench
MARIADB_USER=root

# --- phpMyAdmin ---
PHPMYADMIN_HOST=localhost
PHPMYADMIN_MARIADB_PORT=8082


# --- MySQL ---
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DB=db_workbench
MYSQL_USER=root

# --- phpMyAdmin ---
PHPMYADMIN_HOST=localhost
PHPMYADMIN_MYSQL_PORT=8080


# --- PostgreSQL ---
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=rootpass
POSTGRES_DB=db_workbench

# --- pgAdmin ---
PGADMIN_HOST=localhost
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=rootpass


# -------------------------
#  NoSQL Databases
# -------------------------

# --- Cassandra ---
CASSANDRA_HOST=localhost
CASSANDRA_PORT=9042
CASSANDRA_USER=cassandra
CASSANDRA_PASSWORD=cassandra
CASSANDRA_CLUSTER=TestCluster


# --- ClickHouse ---
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=root
CLICKHOUSE_PASSWORD=rootpass


# --- Couchbase ---
COUCHBASE_HOST=localhost
COUCHBASE_PORT=8091
COUCHBASE_USER=Administrator
COUCHBASE_PASSWORD=password
COUCHBASE_BUCKET=db_workbench


# --- Elasticsearch ---
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=rootpass

# --- Kibana ---
KIBANA_SYSTEM_USER=kibana_system
KIBANA_SYSTEM_PASSWORD=kibana_pass
KIBANA_PORT=5601


# --- MongoDB ---
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=rootpass
MONGO_AUTH_DB=admin
MONGO_DB=db_workbench

# --- MongoExpress ---
MONGOEXPRESS_PORT=8081


# --- Redis ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=rootpass

# --- RedisInsight ---
REDISINSIGHT_PORT=5540
