# -------------------------
# File-Based Databases
# -------------------------
SQLITE_DB_PATH=data/sqlite/db/db_workbench.db
DUCKDB_DB_PATH=data/duckdb/db/db_workbench.duckdb


# -------------------------
# SQL Databases
# -------------------------

# MariaDB
MARIADB_HOST=mariadb
MARIADB_PORT=3307
MARIADB_ROOT_PASSWORD=rootpass
MARIADB_DB=db_workbench
MARIADB_USER=root

# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DB=db_workbench
MYSQL_USER=root

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=rootpass
POSTGRES_DB=db_workbench

# -------------------------
# NoSQL Databases
# -------------------------

# Cassandra
CASSANDRA_HOST=localhost
CASSANDRA_PORT=9042
CASSANDRA_USER=cassandra
CASSANDRA_PASSWORD=cassandra
CASSANDRA_CLUSTER=TestCluster

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=root
CLICKHOUSE_PASSWORD=rootpass

# Couchbase
COUCHBASE_HOST=localhost
COUCHBASE_PORT=8091
COUCHBASE_USER=Administrator
COUCHBASE_PASSWORD=password
COUCHBASE_BUCKET=db_workbench

# Elasticsearch
ELASTIC_HOST=localhost
ELASTIC_PORT=9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=rootpass

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=rootpass
MONGO_DB=admin

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=rootpass


# -------------------------
# Web GUIs
# -------------------------
PGADMIN_HOST=localhost
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=rootpass

PHPMYADMIN_HOST=localhost
PHPMYADMIN_MYSQL_PORT=8080
PHPMYADMIN_MARIADB_PORT=8082

MONGOEXPRESS_HOST=localhost
MONGOEXPRESS_PORT=8081

REDISINSIGHT_HOST=localhost
REDISINSIGHT_PORT=8001
