# -------------------------
# Database data
# -------------------------
/data/**/*
!/data/**/       
!/data/**/.gitkeep
!/data/**/scripts/init.*
*.db
*.duckdb
*.sqlite
*.sqlite3

# -------------------------
# Python virtual environment / cache
# -------------------------
venv/
.venv/
.env
__pycache__/
*.pyc
*.egg-info/
*.egg
dist/
build/

# -------------------------
# OS / IDE files
# -------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# -------------------------
# Docker / Compose temp files
# -------------------------
*.log
*.pid
docker-compose.override.yml
.env.local
.env.*.local