# -------------------------
# Database data
# -------------------------
/data/**/*
!/data/**/       
!/data/**/.gitkeep
!/data/**/scripts/init.*



# -------------------------
# Python virtual environment
# -------------------------
venv/
.venv/
.env
__pycache__/
*.pyc

# -------------------------
# OS / IDE files
# -------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# -------------------------
# Docker / Compose temp files
# -------------------------
*.log
*.pid
docker-compose.override.yml